.table > :not(caption) > * > * {
    padding: 1.5px 10px;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
#queueTable {
    margin-left: 120px;
}
#calculate {
    position: absolute;
    top: 60%;
    right: 20%;
    width: 250px;
    font-size: 25px;
}
#solarisCalculate {
    position: absolute;
    top: 40%;
    right: 20%;
    width: 250px;
    font-size: 25px;
}
#save {
    position: absolute;
    top: 30%;
    right: 20%;
    width: 250px;
    font-size: 25px;
}
.table-primary tr td {
    padding: 10px;
}
